<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[SwitchBlade.Plugins.*]*,[SwitchBlade.Contracts]*,[SwitchBlade.UiaWorker]*,[SwitchBlade.Tests]*,[xunit.*]*,[Moq]*,[SwitchBlade]SwitchBlade.Views.*,[SwitchBlade]XamlGeneratedNamespace.*,[SwitchBlade]SwitchBlade.Program,[SwitchBlade]SwitchBlade.App</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
