<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="SwitchBlade" Manufacturer="James Wong" Version="1.0.0.0" UpgradeCode="a3543202-6014-486c-a964-15967d6f8c44">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="SwitchBlade" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="SwitchBlade" />
    </StandardDirectory>

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Package>

  <Fragment>
      <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
          <Component>
              <File Source="..\bin\Release\net9.0-windows\win-x64\publish\SwitchBlade.exe" />
          </Component>
          <!-- Add other dependencies if we weren't single file, but we are -->
      </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="SwitchBlade" 
                  Description="SwitchBlade Window Switcher"
                  Target="[INSTALLFOLDER]SwitchBlade.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\JamesWong\SwitchBlade" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
